<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="cdnNomina" connectionString="Server=localhost;Database=nominas;User=root;Password=k6UleiMan69+;port=3306"/> -->
    <add name="cdnNomina" connectionString="Server=minia001.mysql.guardedhost.com;Database=minia001_nominas;User=minia001_nominas;Password=5rpnSa8)U9gk;port=3306"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>